<%- include('../includes/head.ejs') %>
   </head>
   <body>
      <main>
         <%- include('../includes/nav.ejs') %>
         <!-- header top section start -->
         <!-- logo section start -->
         <% if (successMessage) {  %>
            <div class="user-message" onClick="this.style.visibility='hidden';"><%= successMessage %></div>
         <% } %>
         <div  class="banner_bg_main">
         <div class="logo_section">
            <div class="container">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="logo"><img src="images/logo3point5.png" width=500px, height=550px></div>
                  </div>
               </div>
            </div>
         </div>
         
         <!-- logo section end -->
         <!-- header section start -->
         <div class="header_section">
            <div class="container">
               <div class="containt_main">
                  <div id="mySidenav" class="sidenav">
                     <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                     
                     <a href="/">Home</a>
                     <a href="/category">All Products</a>
                     <a href="/category/sport">Sport</a>
                     <a href="/pants/elegant">Elegant</a>
                     <a href="/shoes/vans">Vans</a>
		     <a href="/admin/admin">Admin Panel</a>
                     <% if (isClientLoggedIn) { %>
                     <a href="/cart">My Cart</a>
                     <a href="/logout"> Logout</a>
                    
                     <% }  %>
                     <% if (isDesignerLoggedIn) { %>
                     <a href="/designer-dashboard">Designer Dashboard</a>
                     <a href="/logout">Logout Designer</a>
                     <% } %>
                  </div>
                  <span class="toggle_icon" onclick="openNav()"><img src="images/toggle-icon.png"></span>
                  
                  
                  <div class="header_box">
                     <!-- <div class="lang_box ">
                        <a href="#" title="Language" class="nav-link" data-toggle="dropdown" aria-expanded="true">
                        <img src="images/flag-uk.png" alt="flag" class="mr-2 " title="United Kingdom"> English <i class="fa fa-angle-down ml-2" aria-hidden="true"></i>
                        </a>
                        <div class="dropdown-menu ">
                           <a href="#" class="dropdown-item">
                           <img src="images/flag-france.png" class="mr-2" alt="flag">
                           French league player

                           </a>
                        </div>
                     </div> -->
                     <div class="login_menu">
                        <ul>
                           <% if(isClientLoggedIn) { %>
                           <li><a href="/logout">
                              <i class="fa fa-user" aria-hidden="true"></i>
                              <span class="padding_10">Logout</span>
                              </a>
                           </a></li>
                           <li><a href="/cart">
                              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                              <span class="padding_10">Cart</span></a>
                           </li>

                           <% } 

                            else { %>
                           <li><a href="/login">
                              <i class="fa fa-user" aria-hidden="true"></i>
                              <span class="padding_10">Client Login</span></a>
                           </li>
                           <% } %>
                           <% if (!isDesignerLoggedIn) { %>
                              <li><a href="/designer-login">
                                 <i class="fa fa-regular fa-palette"></i>
                                 <span class="padding_10">Designer Login</span></a>
                              </li>
                           <% } %>

                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- header section end -->
         <!-- banner section start -->
         <div class="banner_section layout_padding">
            <div class="container">
               <div id="my_slider" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                     <div class="carousel-item active">
                        <div class="row">
                           <div class="col-sm-12">
                              <h1 class="banner_taital">Get Started <br>With your favorite designs</h1>
                              <div class="buynow_bt"><a href="/category">Buy Now</a></div>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-item">
                        <div class="row">
                           <div class="col-sm-12">
                              <h1 class="banner_taital">Start using <br> Next Generation AI</h1>
                              <div class="buynow_bt"><a href="/category">See some examples</a></div>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-item">
                        <div class="row">
                           <div class="col-sm-12">
                              <h1 class="banner_taital">Create your own <br>designs and make money</h1>
                              <div class="buynow_bt"><a href="/design">Design Now</a></div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
                  <i class="fa fa-angle-left"></i>
                  </a>
                  <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
                  <i class="fa fa-angle-right"></i>
                  </a>
               </div>
            </div>
         </div>
         <!-- banner section end -->
      </div>
      <!-- banner bg main end -->
   </div>
      <!-- fashion section start -->
      <% if (sportItems.length >= 9) {%>
      <div class="fashion_section">
         <div id="main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container">

                     <h1 class="fashion_taital">Sports</h1>
                     <div class="fashion_section_2">
                        <div class="row">
                           <% for(let i=0; i<3; i++) { %>
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text"><%=sportItems[i].title%></h4>
                                 <p class="price_text">Price  <span style="color: #262626;">$ <%=sportItems[i].price%></span></p>
                                 <div class="tshirt_img"><img src="<%=sportItems[i].imageUrl%>"></div>
                                 <div class="btn_main">
                                    <div class="buy_bt"><a href="/item/<%=sportItems[i]._id%>">Buy Now</a></div>
                                    <div class="seemore_bt"><a href="/category/sport">See More</a></div>
                                 </div>
                              </div>
                           </div>
                           <% } %>
                          
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <h1 class="fashion_taital">Sports</h1>
                     <div class="fashion_section_2">
                        <div class="row">
                           <% for(let i=3; i<6; i++) { %>
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text"><%=sportItems[i].title%></h4>
                                 <p class="price_text">Price  <span style="color: #262626;">$ <%=sportItems[i].price%></span></p>
                                 <div class="tshirt_img"><img src="<%=sportItems[i].imageUrl%>"></div>
                                 <div class="btn_main">
                                    <div class="buy_bt"><a href="/item/<%=sportItems[i]._id%>">Buy Now</a></div>
                                    <div class="seemore_bt"><a href="/category/sport"></a></div>
                                 </div>
                              </div>
                           </div>
                           <% } %>
                          
                         
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <h1 class="fashion_taital">Sports</h1>
                     <div class="fashion_section_2">
                        <div class="row">
                           <% for(let i=6; i<9; i++) { %>
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text"><%=sportItems[i].title%></h4>
                                 <p class="price_text">Price  <span style="color: #262626;">$ <%=sportItems[i].price%></span></p>
                                 <div class="tshirt_img"><img src="<%=sportItems[i].imageUrl%>"></div>
                                 <div class="btn_main">
                                    <div class="buy_bt"><a href="/item/<%=sportItems[i]._id%>">Buy Now</a></div>
                                    <div class="seemore_bt"><a href="/category/sport">See More</a></div>
                                 </div>
                              </div>
                           </div>
                           <% } %>
                           
                          
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
            </a>
         </div>
      </div>
      <% } %>

      <!-- fashion section end -->
      <!-- electronic section start -->
      <% if (elegantItems.length >= 9) {%>

      <div class="fashion_section">
         <div id="electronic_main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container">
                     <h1 class="fashion_taital">Elegant</h1>
                     <div class="fashion_section_2">
                        <div class="row">
                           <% for(let i=0; i<3; i++) { %>
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text"> <%=elegantItems[i].title%></h4>
                                 <p class="price_text">Start Price  <span style="color: #262626;">$ <%=elegantItems[i].price%></span></p>
                                 <div class="electronic_img"><img src="<%=elegantItems[i].imageUrl%>"></div>
                                 <div class="btn_main">
                                    <div class="buy_bt"><a href="/item/<%=elegantItems[i]._id%>">Buy Now</a></div>
                                    <div class="seemore_bt"><a href="/category/elegant">See More</a></div>
                                 </div>
                              </div>
                           </div>
                           <% } %>
                           
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <h1 class="fashion_taital">Elegant</h1>
                     <div class="fashion_section_2">
                        <div class="row">
                           <% for(let i=3; i<6; i++) { %>
                              <div class="col-lg-4 col-sm-4">
                                 <div class="box_main">
                                    <h4 class="shirt_text"> <%=elegantItems[i].title%></h4>
                                    <p class="price_text">Start Price  <span style="color: #262626;">$ <%=elegantItems[i].price%></span></p>
                                    <div class="electronic_img"><img src="<%=elegantItems[i].imageUrl%>"></div>
                                    <div class="btn_main">
                                       <div class="buy_bt"><a href="/item/<%=elegantItems[i]._id%>">Buy Now</a></div>
                                       <div class="seemore_bt"><a href="/category/elegant">See More</a></div>
                                    </div>
                                 </div>
                              </div>
                           <% } %>
                           
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <h1 class="fashion_taital">Shoes</h1>
                     <div class="fashion_section_2">
                        <div class="row">
                           <% for(let i=6; i<9; i++) { %>
                              <div class="col-lg-4 col-sm-4">
                                 <div class="box_main">
                                    <h4 class="shirt_text"> <%=elegantItems[i].title%></h4>
                                    <p class="price_text">Start Price  <span style="color: #262626;">$ <%=elegantItems[i].price%></span></p>
                                    <div class="electronic_img"><img src="<%=elegantItems[i].imageUrl%>"></div>
                                    <div class="btn_main">
                                       <div class="buy_bt"><a href="/item/<%=elegantItems[i]._id%>">Buy Now</a></div>
                                       <div class="seemore_bt"><a href="/category/elegant">See More</a></div>
                                    </div>
                                 </div>
                              </div>
                           <% } %>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

            <a class="carousel-control-prev" href="#electronic_main_slider" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control-next" href="#electronic_main_slider" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
            </a>
         </div>
         <% } %>
      
      <!-- electronic section end -->
      <!-- jewellery  section start -->
      <% if (vansItems.length >=9) {%>
      <div class="jewellery_section">
         <div id="jewellery_main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container">
                     <h1 class="fashion_taital">Vans</h1>
                     <div class="fashion_section_2">
                        <div class="row">
                           <% for(let i=0; i<3; i++) { %>
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text"><%=vansItems[i].title%></h4>
                                 <p class="price_text">Start Price  <span style="color: #262626;">$ <%=vansItems[i].price%></span></p>
                                 <div class="jewellery_img"><img src="<%=vansItems[i].imageUrl%>"></div>
                                 <div class="btn_main">
                                    <div class="buy_bt"><a href="/item/vansItems[i]._id%>">Buy Now</a></div>
                                    <div class="seemore_bt"><a href="/category/vans">See More</a></div>
                                 </div>
                              </div>
                           </div>
                           <% } %>
                          
                           
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <h1 class="fashion_taital">Vans</h1>
                     <div class="fashion_section_2">
                        <div class="row">
                           <% for(let i=3; i<6; i++) { %>
                              <div class="col-lg-4 col-sm-4">
                                 <div class="box_main">
                                    <h4 class="shirt_text"><%=vansItems[i].title%></h4>
                                    <p class="price_text">Start Price  <span style="color: #262626;">$ <%=vansItems[i].price%></span></p>
                                    <div class="jewellery_img"><img src="<%=vansItems[i].imageUrl%>"></div>
                                    <div class="btn_main">
                                       <div class="buy_bt"><a href="/item/vansItems[i]._id%>">Buy Now</a></div>
                                       <div class="seemore_bt"><a href="/category/vans">See More</a></div>
                                    </div>
                                 </div>
                              </div>
                              <% } %>

                           
                          
                          
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <h1 class="fashion_taital">Bags</h1>
                     <div class="fashion_section_2">
                        <div class="row">
                           <% for(let i=6; i<9; i++) { %>
                              <div class="col-lg-4 col-sm-4">
                                 <div class="box_main">
                                    <h4 class="shirt_text"><%=vansItems[i].title%></h4>
                                    <p class="price_text">Start Price  <span style="color: #262626;">$ <%=vansItems[i].price%></span></p>
                                    <div class="jewellery_img"><img src="<%=vansItems[i].imageUrl%>"></div>
                                    <div class="btn_main">
                                       <div class="buy_bt"><a href="/item/vansItems[i]._id%>">Buy Now</a></div>
                                       <div class="seemore_bt"><a href="/category/vans">See More</a></div>
                                    </div>
                                 </div>
                              </div>
                              <% } %>

                          
                          
                          
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <a class="carousel-control-prev" href="#jewellery_main_slider" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control-next" href="#jewellery_main_slider" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
            </a>
         </div>
      </div>
      <% } %>
      <!-- jewellery  section end -->
   </main>
      <%- include('../includes/footer.ejs') %>
